form(method="POST", action="/auth")
 input(type="hidden", name="_method", value="PUT")
 p
 center User_Name:
  input(type="text", name="name")
 p
 center Password:
  input(type="password", name="pass")